{% extends 'base.html.twig' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="card" style="height: auto; color: black;">
        <div class="card-header">
            <h2 class="card-title">Insertar Cliente</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.nombre) }}
                {{ form_row(form.apellidos) }}
                {{ form_row(form.telefono) }}
                {{ form_row(form.direccion) }}<br>
                {{ form_row(form.insertar, { 'label': 'Insertar cliente' }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}